.search-bar{
    margin:20px;
    width:45%;
    height: 30px;
}

.video-detail .details{
    margin-top: 10px;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 4px;

}
 .video-play{
     margin-left:20px;
     position: absolute;
     z-index:0;
 }
 
 #comment-section{
     margin: 20px;
 }
 .auto-list{
     position: fixed;
     display: inline-block;
     z-index: 99;
     background-color: whitesmoke;
     margin-left: 20px;
 }
 .auto-items{
    /* position: absolute; */
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    text-decoration-color: black;
    top: 100%;
    left: 0;
    right: 0;
 }